@page "/errors/403"
@layout ErrorLayout
@inject ICultureProvider Culture

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">@Culture.Translate("Forbidden")</MudText>
    </MudCardHeader>
    <MudCardContent>
        <p>@Culture.Translate("Access to this resource is forbidden.")</p>
    </MudCardContent>
</MudCard>