<MudContainer>
    <MudCard>
        <MudCardHeader><MudText Typo="Typo.h6">Not authorized</MudText></MudCardHeader>
        <MudCardContent>
            <p>You are not authorized to access this resource.</p>
        </MudCardContent>
    </MudCard>
</MudContainer>